:root{
    --body: #171718;
    /* --primary: #EC5C5C; */
    --primary: #5c62ec;
    --white: #fff;
    --card: #1c1e22;
    --separator: #26292d;
    --secondary: #7B61FF;
    /* --secondary: #FF6161; */
    --social: #85bfd1;
}

body, html{
    background-color: var(--body);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: var(--white) !important;
}

nav{
    background-color: var(--body) !important;
    border-bottom: 2px solid var(--separator);
}

.nav-link.active{
    border-bottom: 2px solid var(--primary);
    font-weight: bold;
    color: var(--primary) !important;
}

.nav-link{
    color: var(--white) !important;
    font-weight: bold;
}

.nav-link:hover{
    color: var(--primary) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--primary);

}

.navbar-brand:hover{
    color: var(--primary) !important;
}

.login-btn{
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary)
}

.login-btn:hover{
    background-color: var(--secondary);
    color: var(--white) !important;
    border-color: var(--secondary);
}

.outnone{
    outline: none !important;
    box-shadow: 0 0 0 0 transparent !important;
}

.header{
    /* display: flex; */
    /* position: relative;
    margin-top: 60px; */

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    align-content: center;
    flex-grow: 0; 
    flex-shrink: 0; 
    position: relative; 
    gap: 16px;
    margin-top: 60px;
}

.p1{
    text-align: center;
}

.sp1{
    flex-grow: 0; 
    flex-shrink: 0; 
    width: 556px; 
    height: 232px; 
    font-size: 60px; 
    font-weight: 700; 
    text-align: center; 
    color: #fafafa;
}

.sp2{
    padding-left: 20px;
    flex-grow: 0; 
    flex-shrink: 0; 
    width: 556px; 
    height: 232px; 
    font-size: 60px; 
    font-weight: 700; 
    text-align: center; 
    color: var(--primary);
}

.sp3{
    flex-grow: 0; 
    flex-shrink: 0; 
    width: 556px; 
    height: 232px; 
    font-size: 34px; 
    font-weight: 500; 
    text-align: center; 
    color: var(--white);
}

.p2{
    flex-grow: 0; 
    flex-shrink: 0; 
    font-size: 20px; 
    font-weight: 500; 
    text-align: center; 
    color: var(--white);
}


.download-btn{
    background-color: transparent;
    color: #FAFAFA !important; 
    border: 1px solid #FAFAFA;
    padding: 16px 20px;

}

.vp{
    padding: 16px 20px;

}

.download-btn:hover{
    background-color: #FAFAFA;
    color: black !important;
    border-color: #FAFAFA;
}

.ml-2{
    margin-left: 0.5rem;
}

.buttons{
    display: flex;
    padding: 16px 20px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}


.modal-content{
    background-color: var(--body) !important;
    color: var(--white) !important;
}

.btn-close{
    color: var(--white) !important;
}

.btn-close:hover{
    color: var(--white) !important;
}

.modal-header{
    border-bottom: 1px solid var(--separator) !important;
}

.modal-footer{
    border-top: 1px solid var(--separator) !important;
}

.pr-2{
    padding-right: 0.5rem;
}

.pl-2{
    padding-left: 0.5rem;
}

.form-login, .form-login:focus, .form-login:hover{
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid var(--primary);
}

.form-login{
    color: var(--white);
}

.form-login:focus{
    color: var(--primary);
}

.form-login:-webkit-autofill,
.form-login:-webkit-autofill:hover, 
.form-login:-webkit-autofill:focus,
.form-login:-webkit-autofill,
.form-login:-webkit-autofill:hover,
.form-login:-webkit-autofill:focus,
.form-login:-webkit-autofill,
.form-login:-webkit-autofill:hover,
.form-login:-webkit-autofill:focus {
  border-bottom: 2px solid var(--primary);
  -webkit-text-fill-color: var(--white);
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}


.form-check{
    cursor: pointer;
}

.form-check-input:checked{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.lostpass{
    float: left !important;
    background-color: transparent;
    border: 0;
    color: var(--white);
    padding-left: 0px;
}

.lostpass:hover{
    color: var(--secondary);
}

.register{
    float: right !important;
    background-color: transparent;
    border: 0;
    color: var(--white);
}

.register:hover{
    color: var(--secondary);
}

.card{
    background-color: var(--card);
    color: var(--white);
    border-radius: 20px;
    /* width: 50%; */
    margin: 50px auto;
    padding: 20px;
}

.acd-card{
    width: 50%;
}

.p-parrafo{
    text-align: justify;
}

.mi-img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.p-title{
    font-size: 48px; 
    font-weight: 500; 
    text-align: left; 
    color: var(--white);
}

.p-parrafo, .sp-1, .sp-2{
    font-size: 16px; 
    color: var(--white);
}

.acd-btn{
    background-color: transparent;
    border: 1px solid #FAFAFA;
    color: #FAFAFA;
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.acd-btn:hover{
    background-color: #FAFAFA;
    color: black;
    border-color: #FAFAFA;
}

.mt-10{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.pl-6{
    padding-left: 2rem;
}


.proyectos{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 32px; 
    padding-left: 142px; 
    padding-right: 142px;
     padding-bottom: 128px;
}


.proyectos-header{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-grow: 0; 
    flex-shrink: 0; 
    position: relative; 
    gap: 60px;
}

.proyectos-title{
    font-size: 34px; 
    font-weight: 500; 
    text-align: left; 
    color: var(--white);
}

.proyectos-img{
    object-fit: cover;
    /* object-fit: fill; */
    width: 100%; 
    height: 20%; 
    position: relative; 
    overflow: hidden; 
    border-radius: 8px;
    margin-bottom: 2rem;
}


.github-btn{
    background-color: var(--primary);
    color: var(--white);
    text-decoration: none;

    /* display: flex;  */
    /* flex-direction: column;  */
    justify-content: center; 
    align-items: center; 
}

.github-btn:hover{
    background-color: var(--secondary);
    color: var(--white);
}

footer{
    border-top: 2px solid var(--separator);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    bottom: 0;
    
}

.footers{
    margin-top: 32px;
    margin-bottom: 32px;
}


.footer-title{
    font-size: 24px; 
    font-weight: 600; 
    text-align: left; 
    color: var(--white);
}

.footer-enlace{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-grow: 0; 
    flex-shrink: 0; 
    position: relative; 
    font-size: 14px;
    gap: 24px;
}
.footer-enlace-a{     
    font-size: 14px; 
    text-align: left; 
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.footer-enlace-a:hover{
    color: var(--secondary);
}

.footer-enlace-1{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-grow: 0; 
    flex-shrink: 0; 
    position: relative;
    gap: 10px;
}

.footer-img{
    width: 23.07px; 
     height: 23.07px;
}

.footer-img-2{
    width: 33px;
    height: 33px;
}

.footer-copy{
    border-top: 2px solid var(--separator);
    width: 100%;
}

.footer-copy-p{
    padding-top: 10px;
    font-size: 12px; 
    text-align: left; 
    color: var(--white);
    padding-left: 10px;
    padding-bottom: 0;
    
}

.footer-enlace-a.active{
    color: var(--primary);
}


.footer-social{
    color: var(--social);
    font-weight: bold;
}

.m-6{
    padding: 5rem 5rem 5rem 20rem ;
}

.pl-6-1{
    padding-right: 15rem;
    padding-left: 7rem;
}

.mail{
    color: var(--primary);
    text-decoration: none;
}

.mail:hover{
    color: var(--secondary);
}

.hability-p{
    font-size: 34px;
    text-align: center;
}

.hability-header{
    margin-bottom: 4rem;
}

.c-hab{
    width: 59% !important;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
    width: 354px;
    height: 298px;
    border-radius: 8px;
    margin: 10px auto !important;
    
}

.card-1 span, .card-2 span, .card-3 span, .card-4 span, .card-5 span, .card-6 span{
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
}

.card-1 h3, .card-2 h3, .card-3 h3, .card-4 h3, .card-5 h3, .card-6  h3{
    font-family: DM Sans;
    font-style: 600;
    font-size: 34px;
    line-height: 40px;
}

.card-1 svg, .card-2 svg, .card-3 svg, .card-4 svg, .card-5 svg, .card-6 svg{
    width: 50px !important;
    height: 50px !important;
}



.mb-6{
    margin-bottom: 2rem;
}
.experience{
    font-family: 'DM Sans', sans-serif;
}
.pt-100{
    padding-top:50px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: var(--primary);	
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: var(--primary);	
    /* background-color: #ff3636; */
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
ul.timeline-list {
	position: relative;
	margin: 0;
	padding: 0
}
ul.timeline-list:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: var(--primary);
	/* background-color: #ff3636; */
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
ul.timeline-list li {
	position: relative;
	clear: both;
	display: table;
}
.timeline_content {
	border: 2px solid var(--primary);
	/* border: 2px solid #ff3636; */
	background-color:var(--card);
	/* background-color:#fff; */
    border-radius: 8px;
}
ul.timeline-list li .timeline_content {
	width: 45%;
	color: var(--white);
	/* color: #333; */
	padding: 30px;
	float: left;
	text-align: right;
}
ul.timeline-list li:nth-child(2n) .timeline_content {
	float: right;
	text-align: left;
}
.timeline_content h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}
ul.timeline-list li:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-color: var(--primary);
	/* background-color: #ff3636; */
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 50%;
}
.timeline_content span {
	font-size: 18px;
	font-weight: 500;
	font-family: poppins;
	color: var(--primary);
	/* color: #ff3636; */
}

.explang-primary{
    background-color:var(--primary);
}

.pt-10{
    padding-top: 20px;
    padding-bottom: 0 !important;
}


.explang-body i{
    color: var(--primary);
}

.progress{
    background-color: var(--separator);
}

.p-title-explang{
    text-transform: uppercase;
    font-size: 20px;
}


.service-img{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.service-title{
    font-size: 25px !important;
}

.service-card{
    height: 354px;
}

.service-c{
    margin-bottom: 3rem;
}
@media (max-width: 1280px){
    .nav-link.active, .nav-link:hover{
        border-bottom: 0px;
    }
    .hide{
        display: none;
    }
    
    .show{
        display: block;
    }
    
    .navbar-toggler{
        border: 0px !important;
        color: var(--white) !important;

    }
    .navbar-toggler:hover{
        color: var(--primary) !important;
    }

    .buttons{
        /* padding: 16px 7px; */
        display: inline-grid;

    }

    .acd-card{
        width: 85%;
    }

    .p-title{
        text-align: center;
        font-size: 47px;
        padding-top: 20px;
    }

    .mt-10{
        margin-bottom: 1rem;
    }

    .pl-6{
        padding-left: 0px !important;
    }
    .proyectos-img{
        width: 285%;
        margin-left: -110px;
    }

    .github-btn{
        width: 170%;
    }

    .footers{
        text-align: center;
    }

    .footer-title{
        text-align: center;
    }

    .footer-enlace{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        bottom: 0; 
        margin-bottom: 24px;
    }

    .footer-copy-p{
        text-align: center;
    }

    .m-6{
        padding: 2rem;
    }
    
    .pl-6-1{
        padding-right: 0;
        padding-left: 0;
    }

    .card-1 h3, .card-2 h3, .card-3 h3, .card-4 h3, .card-5 h3, .card-6  h3{
        font-size: calc(1.3rem + .6vw);
    }

    .c-hab{
        width: 100% !important;
    }

    .timeline_content p{
        display: none;
    }

    .backend{
        margin-top: -80px;
    }
}

@media (max-width: 768px) { 
    .nav-link.active, .nav-link:hover{
        border-bottom: 0px;
    }

    .navbar-toggler{
        border: 0px !important;
        color: var(--white) !important;

    }

    .navbar-toggler:hover{
        color: var(--primary) !important;
    }

    .hide{
        display: none;
    }
    
    .show{
        display: block;
    }

    .buttons{
        /* padding: 16px 3px; */
        display: inline-grid;
    }

    .acd-card{
        width: 90%;
    }

    .p-title{
        text-align: center;
        padding-top: 20px;
        font-size: 45px;
    }

    .pl-6{
        padding-left: 0px !important;

    }

    .proyectos-img{
        width: 285%;
        margin-left: -110px;
    }

    .github-btn{
        width: 180%;
    }

    
    .footers{
        text-align: center;
    }

    .footer-title{
        text-align: center;
    }

    .footer-enlace{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        bottom: 0; 
        margin-bottom: 24px;
    }

    .footer-copy-p{
        text-align: center;
    }

    .m-6{
        padding: 2rem ;
    }
    
    .pl-6-1{
        padding-right: 0;
        padding-left: 0;
    }

    .card-1 h3, .card-2 h3, .card-3 h3, .card-4 h3, .card-5 h3, .card-6  h3{
        font-size: calc(1.3rem + .6vw);
    }
    .c-hab{
        width: 100% !important;
    }

    .timeline_content p{
        display: none;
    }
    .backend{
        margin-top: -80px;
    }
}